section.work
	.workTitleWrapper
		h2.workTitle Meticulously crafted designs.
	ol.posts
		li.group
			.img
			p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group
			.img
			p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group
			.img
			p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group
				.img
				p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group
				.img
				p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group
				.img
				p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
