section.work
	.workTitleWrapper
		h2.workTitle Meticulously crafted designs.
	ol.posts#myList
		li.group
			.img#motivationImg
			p.caption Who doesn't love motivational quotes with a beautiful interface?
		li.group
			.img#schoolImg
			p.caption School, College, Church, Hospital etc.? I got you. Jump in!
		li.group
			.img#urbanImg
			p.caption Websites need to look as good as the stuff you sell, right?
		li.group.next
				.img#landingImg
				p.caption First impression matters. Let's get that right. 
		li.group.next
				.img#responsiveImg
				p.caption Responsive web design, is web design done right.
		li.group.next
				.img#cardsImg
				p.caption Oh, and I also design logos, business cards, posters, etc., if you're into that. 
	h1.hidden#viewMore View More