section.work
	.workTitleWrapper
		h2.workTitle Meticulously crafted designs.
	ol.posts#myList
		li.group
			.img
			p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group
			.img
			p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group
			.img
			p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group.next
				.img
				p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group.next
				.img
				p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
		li.group.next
				.img
				p.caption Lorem ipsum dolor sit amet, consect adipisicing elit.
	h2.hidden#viewMore View More